# Terraform cache & state
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
.terraform.tfstate.lock.info

# Plans / binaries
*.tfplan
*.bin

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json
